.welcome-container {
    text-align: center;
    background-color: black;
    height:100%;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: 0;
    padding-top: 150px;
}

.button-container {
    margin-top: 20px;
}

button {
    margin: 10px;
    font-size: 1rem;
}

.info-text {
    margin-top: 30px;
    color: #757575;
}